Flask
Flask-Cors
Flask-Mail
Flask-Bcrypt
Flask-JWT-Extended
Flask-SQLAlchemy
Flask-Migrate
Flask-RESTful
itsdangerous
SQLAlchemy
psycopg2-binary
python-dotenv
email-validator
requests
python-dateutil
gunicorn
pytest
black
